<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model_1"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="67"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="Init"/>
<stringAttribute key="modelBehaviorNext" value="Next"/>
<stringAttribute key="modelBehaviorSpec" value=""/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="ballot, propCmds, vote"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="0Invariant1"/>
<listEntry value="1Correctness"/>
<listEntry value="0\A a \in Acceptors : ballot[a] = -1"/>
<listEntry value="0\A a \in Acceptors : vote[a][0][0] = None"/>
<listEntry value="0\A v \in V : \A i \in Instances : \A b \in Ballots : \neg ChosenAt(i,b,v)"/>
<listEntry value="0\neg (\E v \in V : ChosenAt(0,1,v) /\ \neg ChosenAt(0,0,v))"/>
<listEntry value="0\neg (\E v \in V : ChosenAt(0,2,v) /\ ChosenAt(0,4,v) /\ \neg ChosenAt(0,3,v)&#10;/\ \E a \in Acceptors : vote[a][0][0] \notin {None,v})"/>
<listEntry value="0\neg(\E va,vb \in V : \E b1,b2 \in Ballots : b1 = 1 /\ b2 = 4 /\ ChosenAt(0,b1,va) /\ ChosenAt(1,b2,vb) /\ va # vb)"/>
<listEntry value="0\A i \in Instances : SafeVoteArray(i)"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Quorums;;{Q \in SUBSET Acceptors : Cardinality(Q) &gt; Cardinality(Acceptors) \div 2};0;0"/>
<listEntry value="V;;{v1, v2};1;1"/>
<listEntry value="None;;None;1;0"/>
<listEntry value="Acceptors;;{a1, a2, a3};1;1"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions">
<listEntry value="Instances;;{0,1};0;0"/>
<listEntry value="Ballots;;0..4;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="8"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="MultiPaxos"/>
<listAttribute key="traceExploreExpressions">
<listEntry value="0{b \in Ballots : vote[a1][0][b] # None}"/>
<listEntry value="0MaxVotedIn(0,a1)"/>
<listEntry value="0Conservative(0,0)"/>
<listEntry value="0Correctness"/>
<listEntry value="1SafeVoteArray(1)"/>
<listEntry value="1SafeAt(v1,1,1)"/>
<listEntry value="1Choosable(v2, 1, 0)"/>
</listAttribute>
<stringAttribute key="view" value=""/>
</launchConfiguration>
