<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model_2"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="69"/>
<intAttribute key="maxSetSize" value="100000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value="TypeInv /\ WellFormed /\ SafeVoteArray /\ ConservativeVoteArray"/>
<stringAttribute key="modelBehaviorNext" value="UNCHANGED &lt;&lt;ballot, vote, propCmds&gt;&gt;"/>
<stringAttribute key="modelBehaviorSpec" value="/\ ballot = (a1 :&gt; 1)&#10;/\ vote = (a1 :&gt; (0 :&gt; (0 :&gt; v1 @@ 1 :&gt; v2)))&#10;/\ [][UNCHANGED &lt;&lt;ballot,vote&gt;&gt;]_&lt;&lt;ballot,vote&gt;&gt;"/>
<intAttribute key="modelBehaviorSpecType" value="2"/>
<stringAttribute key="modelBehaviorVars" value="ballot, propCmds, vote"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="0Test"/>
<listEntry value="0SafeAt(v2,0,1)"/>
<listEntry value="0Choosable(v1,0,0)"/>
<listEntry value="1\A v \in V : \A i \in Instances : &#10;            \A Q \in Quorums : \A b \in Ballots :&#10;                (\A a \in Q : ballot[a] \geq b&#10;                /\  v \in ProvedSafeAt(i, Q, b))&#10;                =&gt; SafeAt(v, i, b)"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Quorums;;MajQuorums;0;0"/>
<listEntry value="V;;{v1, v2};1;0"/>
<listEntry value="None;;None;1;0"/>
<listEntry value="Acceptors;;{a1, a2, a3};1;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions">
<listEntry value="Instances;;{0,1};0;0"/>
<listEntry value="Ballots;;{0,1};0;0"/>
</listAttribute>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="7"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="MultiPaxos"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
