<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model_1"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="58"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="Spec"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="lease, instances"/>
<stringAttribute key="modelComments" value=""/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="0TypeInvariant"/>
<listEntry value="0Correctness2(Seqs(decision))"/>
<listEntry value="0Cardinality(DependencyGraph(Seqs(decision))[1]) # 3"/>
<listEntry value="0Correctness(Seqs(decision))"/>
<listEntry value="0\neg(decision[o1][1] = c1 /\ decision[o2][2] = c1 /\ decision[o2][1] = c2 /\ decision[o3][2] = c2 /\ decision[o3][1] = c3 /\ decision[o1][2] = c3)"/>
<listEntry value="0Invariant1"/>
<listEntry value="0C!Correctness(GlobalMap(instances))"/>
<listEntry value="1Correctness(instances)"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value="C!Correctness(GlobalMap([o \in Objects |-&gt; [i \in Instances |-&gt; Unknown]]))"/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Commands;;{c1, c2, c3};1;0"/>
<listEntry value="Objects;;{o1, o2, o3};1;0"/>
<listEntry value="AccessedBy;c:;CASE c = c1 -&gt; {o1, o2}&#10;[] c = c2 -&gt; {o2,o3}&#10;[] c = c3 -&gt; {o3,o1};0;0"/>
<listEntry value="Instances;;1..2;0;0"/>
<listEntry value="LeaseId;;0..3;0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions">
<listEntry value="Seq;X:;BSeq(X,3);0;0"/>
<listEntry value="C!Nat;;0..10;0;0"/>
<listEntry value="Unknown;;Unknown;1;0"/>
<listEntry value="Aborted;;Aborted;1;0"/>
</listAttribute>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="8"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="AbstractM2Paxos"/>
<listAttribute key="traceExploreExpressions">
<listEntry value="1Seqs(decision)"/>
<listEntry value="1DependencyGraph(Seqs(decision))"/>
<listEntry value="0Correctness(Seqs(decision))"/>
<listEntry value="0IF executed = Commands THEN [o \in Objects |-&gt; &#10;            IF o \in leaseObjs[0] /\ minInstance[o] # 0 /\ MaxDecision(o) # 0&#10;            THEN SubSeq(decision[o], minInstance[o], MaxDecision(o))&#10;            ELSE &lt;&lt;&gt;&gt;] ELSE &lt;&lt;&gt;&gt;"/>
<listEntry value="0MaxDecision(o1)"/>
<listEntry value="0IF executed = Commands THEN TRUE ELSE FALSE"/>
</listAttribute>
<stringAttribute key="view" value=""/>
</launchConfiguration>
