<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
<stringAttribute key="TLCCmdLineParameters" value=""/>
<intAttribute key="autoLockTime" value="15"/>
<stringAttribute key="configurationName" value="Model_1"/>
<intAttribute key="dfidDepth" value="100"/>
<booleanAttribute key="dfidMode" value="false"/>
<intAttribute key="distributedFPSetCount" value="0"/>
<stringAttribute key="distributedNetworkInterface" value="192.168.122.1"/>
<stringAttribute key="distributedTLC" value="off"/>
<stringAttribute key="distributedTLCVMArgs" value=""/>
<intAttribute key="fpBits" value="0"/>
<intAttribute key="fpIndex" value="1"/>
<intAttribute key="maxHeapSize" value="60"/>
<intAttribute key="maxSetSize" value="1000000"/>
<booleanAttribute key="mcMode" value="true"/>
<stringAttribute key="modelBehaviorInit" value=""/>
<stringAttribute key="modelBehaviorNext" value=""/>
<stringAttribute key="modelBehaviorSpec" value="Spec2"/>
<intAttribute key="modelBehaviorSpecType" value="1"/>
<stringAttribute key="modelBehaviorVars" value="propCmds, network, ballots, votes"/>
<booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
<listAttribute key="modelCorrectnessInvariants">
<listEntry value="1\neg (Complete(o1, 1) /\ Complete(o1,2))"/>
<listEntry value="0\neg (DistMultiPaxos(o1)!MultiPaxos!ChosenAt(1, 1, c1) /\ votes[o1][a1][1][0] = c2)"/>
<listEntry value="0TypeInv"/>
</listAttribute>
<listAttribute key="modelCorrectnessProperties"/>
<stringAttribute key="modelExpressionEval" value=""/>
<stringAttribute key="modelParameterActionConstraint" value=""/>
<listAttribute key="modelParameterConstants">
<listEntry value="Quorums;;MajQuorums;0;0"/>
<listEntry value="V;;{c1, c2};1;0"/>
<listEntry value="Commands;;V;0;0"/>
<listEntry value="Objects;;{o1, o2};1;0"/>
<listEntry value="Acceptors;;{a1, a2, a3};1;0"/>
<listEntry value="None;;None;1;0"/>
<listEntry value="AccessedBy;c:;CASE c = c1 -&gt; Objects&#10;[] c = c2 -&gt; {o1};0;0"/>
</listAttribute>
<stringAttribute key="modelParameterContraint" value=""/>
<listAttribute key="modelParameterDefinitions">
<listEntry value="DistMultiPaxos!Ballots;;{0,1};0;0"/>
<listEntry value="DistMultiPaxos!Instances;;{1,2};0;0"/>
</listAttribute>
<stringAttribute key="modelParameterModelValues" value="{}"/>
<stringAttribute key="modelParameterNewDefinitions" value=""/>
<intAttribute key="numberOfWorkers" value="7"/>
<booleanAttribute key="recover" value="false"/>
<stringAttribute key="result.mail.address" value=""/>
<intAttribute key="simuAril" value="-1"/>
<intAttribute key="simuDepth" value="100"/>
<intAttribute key="simuSeed" value="-1"/>
<stringAttribute key="specName" value="DistributedM2Paxos"/>
<stringAttribute key="view" value=""/>
</launchConfiguration>
